<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drag & Drop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    </head>

    <body>
        <div id="container"
            style="background-color: whitesmoke; padding: 5px 10px; border-color: black; border-radius: 15px">
            <h3 style="font-family: Arial, sans-serif">Würfelanordnung</h3>
            <div class="color-box" data-color="red" data-id="1" style="background-color: red;">Box 1</div>
            <div class="color-box" data-color="yellow" data-id="2" style="background-color: yellow;">Box 2</div>
            <div class="color-box" data-color="blue" data-id="3" style="background-color: #00009c;">Box 3</div>
        </div>
        <p id="result-message" style="text-align: center; margin-top: 5px; font-family: Arial, sans-serif"></p>
        <div class="button-container">
            <button id="submit-button">Absenden</button>
        </div>
        <script>
        // Initialize SortableJS
        var container = document.getElementById('container');

        new Sortable(container, {
            animation: 150,
            ghostClass: 'sortable-ghost',
        });

        // Event listener for the Submit button
        document.getElementById('submit-button').addEventListener('click', function () {
            var order = Array.from(container.querySelectorAll('.color-box')).map(function (el) {
                return {
                    color: el.getAttribute('data-color'),  // Color of the cube from the data-color attribute
                };
            });

            // Send the order data as a JSON object to the Flask backend
            fetch('/state', {
                method: 'POST',  // Use POST to send data
                headers: {
                    'Content-Type': 'application/json',  // Specify that we are sending JSON data
                },
                body: JSON.stringify(order),  // Convert the JavaScript object into JSON
            })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    // Handle the response from the server (optional)
                    console.log('Success:', data);
                    document.getElementById('result-message').textContent = "Order submitted successfully!";
                })
                .catch((error) => {
                    // Handle errors (both network and HTTP status errors)
                    console.error('Error:', error);
                    document.getElementById('result-message').textContent = "Error while submitting order.";
                });
        });
        </script>
    </body>
</html>
